aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
Django
django-extensions
fastapi
frozenlist
gunicorn
h11
httpcore
httpx
idna
multidict
mysqlclient
propcache
pydantic
pydantic_core
python-dotenv
requests
sqlparse
starlette
typing-inspection
typing_extensions
tzdata
urllib3
whitenoise
yarl